 
  .message {
    width: max-content;
    display: flex;
    flex-direction: column;
    // row-gap: 5px;
    // width: 100%;
  }
  
  .text {
    padding: 5px;
    border-radius: 12px;
    font-size: 15px;
    color: var(--text-header);
  }
  