.messagesWrap {
    flex-grow: 1;
    width: 100%;
    height: calc(100% - 55px - 60px);
    color: #fff;
    font-size: 18px;
    background: rgb(35, 35, 35);
    padding: 32px;
    overflow-y: scroll;
    margin-bottom: 10px;
  }

.messages {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }

  .user {
    font-size: 14px;
    color: rgb(176, 176, 176);
  }
  
  .user {
    align-items: flex-start;
  }
  
  .user .text {
    background: #514c4c;
  }
  
  .user .user {
    padding-left: 10px;
  }
  
  .me {
    align-items: flex-end;
  }
  
  .me .text {
    background: #0d49d7;
  }
  
  .me .user {
    padding-right: 10px;
  }