.signinWrap{
    display: flex;
    flex-direction: column;
    width: 450px;
    padding: 0 25px;
    padding-top: 25vh;
    margin: 0 auto;
    // margin-top: 15vh;
}

.inputName{
    margin-bottom: 15px;
}

.inputRoom{
    margin-bottom: 20px;
}

.btnJoin{
    width: 100%;
    margin: 0 auto;
}