body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  
    background: var(--main-bgColor);
  }

p {
    color: var(--text-header);
  }
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  

:root[data-theme="light"] {
    --main-bgColor: rgb(240, 231, 219);
    --secondary-bgColor: rgb(246, 240, 232);
    --header-background: rgb(244, 237, 228);
  
    --text-error: rgb(173, 7, 7);
  
    --text-header: rgb(26, 32, 44);
  
    //buttons
  
    --button-textColor: rgb(213, 85, 164);
    --button-bgColor: none;
    --button-bgColor-hover: rgba(79, 209, 196, 0.7);
    --button-bgColor-hover-active: rgba(56, 178, 172, 0.7);
    //buttons
  
    //modals
  
    //modals
  }
  
  :root[data-theme="dark"] {
    --main-bgColor: rgb(32, 32, 34);
    --secondary-bgColor: rgb(50, 50, 52);
    --header-background: rgba(32, 32, 34, 0.5);

    --first-color: rgb(193, 193, 193);
  
    --text-error: rgb(64, 255, 121);
    --text-header: rgb(237, 237, 237);
  
    --input-color-focus: #4774de;

    //buttons
    --button-textColor: rgb(237, 237, 237);
    --button-bgColor: #4044ED;
    --button-bgColor-hover: #2f32cc;
    --button-bgColor-hover-active: rgba(40, 94, 97, 0.7);
    //buttons
  }
  